@page "/jabatan/{IdFormAktif}"
@using Syncfusion.Blazor.Data;
@using bwaPolaris.Shared
@inject svcJabatan svcJabatan
@inherits Container_1<T0Jabatan, svcJabatan>

@{
	base.BuildRenderTree(__builder);
	rfGrid_Detil = @<GridTemplates>
		<DetailTemplate>
			@{
		var item = (context as T0Jabatan);
				<SfGrid RowRenderingMode="@RowDirection.Vertical" EnableAdaptiveUI="true" DataSource="@dsRekapitulasi" Query="@(new Query().Where("IdJabatan", "equal", item.IdJabatan))">
					<GridColumns>
						@foreach (var item in AtributForm.Where(x => x.TampilMobile == false))
						{
							<GridColumn TextAlign="TextAlign.Center" Field="@item.Field" HeaderText="@item.CaptionRekapitulasi"></GridColumn>
						}
					</GridColumns>
				</SfGrid>
			}
		</DetailTemplate>
	</GridTemplates>
	;
	rfDetil =
	@<div class="row">
		<div class="col-md-6">
			<SfTextBox Placeholder="Jabatan" @bind-Value="@DataDipilih.Jabatan" Enabled="@EnableControl" FloatLabelType='@FloatLabelType.Auto' />
			<ValidationMessage For="@(() => DataDipilih.Jabatan)"></ValidationMessage>
		</div>
		<div class="col-md-6">
			<SfTextBox Placeholder="Kode" @bind-Value="@DataDipilih.Kode" Enabled="@EnableControl" FloatLabelType='@FloatLabelType.Auto' />
			<ValidationMessage For="@(() => DataDipilih.Kode)"></ValidationMessage>
		</div>
	</div>;
}

@code {
	[Parameter]
	public string IdFormAktif { get; set; }

	protected override async Task OnInitializedAsync()
	{
		IdData = "Jabatan";
		IdForm = IdFormAktif;
		dsRekapitulasi = new List<T0Jabatan>();
		dsRekapitulasi = await svcJabatan.GetJabatan();
		DataDipilih = new();
		JudulDetil = "";
		this.StateHasChanged();
	}

	public override void OnDataDipilih(Syncfusion.Blazor.Grids.RecordClickEventArgs<T0Jabatan> args)
	{
		JudulDetil = $"MENGEDIT '{args.RowData.Jabatan}'";
		base.OnDataDipilih(args);
	}

	public override void OnDataBaru()
	{
		base.OnDataBaru();
		DataDipilih = new();
	}

	public override async void OnSimpanData()
	{
		base.OnSimpanData();
		var reply = false;
		if (JudulDetil.Contains("DATA BARU"))
		{
			reply = await svcJabatan.InsertJabatan(DataDipilih);
		}
		else
		{
			reply = await svcJabatan.UpdateJabatan(DataDipilih);
		}
		if (reply)
		{
			await OnInitializedAsync();
		}
	}

	public override async void OnHapusData()
	{
		base.OnHapusData();
		var reply = await svcJabatan.DeleteJabatan(DataDipilih);
		if (reply)
		{
			await OnInitializedAsync();
		}
	}

	public override void OnBatal_SimpanData()
	{
		base.OnBatal_SimpanData();
		DataDipilih = new();
	}
}
